div.Syft-Highlighter-outline {
  box-sizing: border-box;  
  position: fixed !important;  
  z-index: 2147483600 !important;
  cursor: pointer !important;
  pointer-events: fill !important;
}

div.Syft-Highlighter-outline.disabled {
  pointer-events: none !important;
}

div.Syft-Highlighter-outline .visibleOnHover {
  display: none !important;
}

div.Syft-Highlighter-outline:hover .visibleOnHover {
  display: block !important;
}

.Syft-Highlighter-bg {
  width: 100% !important;
  height: 100% !important;  
  position: relative;
}

.Syft-Highlighter-label {
  pointer-events: none !important;
  position: absolute !important;
  padding: 2px !important;
  font-family: monospace !important;
  font-size: 10px !important;
  border-radius: 4px !important;
  z-index: 2147483600 !important;
  top: -8px;
  left: -8px;

  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
