div.Syft-Highlighter-outline {
  box-sizing: border-box;  
  position: fixed !important;  
  z-index: 2147483600 !important;
  cursor: pointer !important;
}

div.Syft-Highlighter-outline.disabled {
  pointer-events: none !important;
}

.Syft-Highlighter-label {
  pointer-events: none !important;
  position: absolute !important;
  padding: 2px !important;
  font-family: monospace !important;
  border-radius: 6px !important;
  z-index: 2147483600 !important;
  top: -6px;
  left: -6px;
  display: none;
}

div.Syft-Highlighter-outline:hover .Syft-Highlighter-label {
  display: block;
}
